.Frame {
  width: 100%;
  height: 650px;
  background-color: #263f40;
  position: relative;
  padding: 15px 0 0;
  margin: auto;
  margin-top: 40px;
}

.Frame a {
  font-size: 20px;
  color: lightcoral;
  cursor: pointer;
  float: right;
  margin-right: 15px;
}
.Header {
  font-size: 48px;
  font-weight: bold;
  background-color: #263f40;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
}

.Day {
  margin-right: 7px;
}

.Month {
  margin-left: 7px;
}

.Form {
  margin-top: 50px;
}

.Form label {
  font-size: 1rem;
  color: #9b9b9b;
  margin-left: 30px;
}

.InputField {
  margin-top: 40px;
  margin-left: 30px;
}

.InputField p {
  color: #f05c79;
}

.Error {
  margin-left: 30px;
  color: #f05c79;
}

.Frame button {
  border: 3px solid #263f40;
  background-color: #11998e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.Frame button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Frame button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Frame button:hover span {
  padding-right: 25px;
}

.Frame button:hover span:after {
  opacity: 1;
  right: 0;
}
