.header {
  height: 10vh;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  background-color: #11998e;
}

.logo {
  font-size: 2rem;
  color: white;
  margin-top: 15px;
}
.logo a {
  text-decoration: none;
}
.logo a:hover,
.logo a:active,
.logo a.active {
  color: whitesmoke;
}

.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
  margin-top: 15px;
}

.nav a {
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: whitesmoke;
  font-weight: bolder;
}

.header button {
  background-color: #11998e;
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  font-size: large;
}

.header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.header button:hover span {
  padding-right: 25px;
}

.header button:hover span:after {
  opacity: 1;
  right: 0;
}
