.frame {
  display: flex;
}
.timerWraper {
  display: flex;
  margin: auto;
  justify-content: center;
}
.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  color: #aaa;
  font-family: "Montserrat";
  font-size: large;
  text-align: center;
  margin: auto;
}
.value {
  font-size: 40px;
  text-align: center;
  margin: auto;
}
.frame button {
  border: 3px solid #263f40;
  background-color: #11998e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  height: 50px;
  margin: auto;
  transition: all 0.5s;
  cursor: pointer;
}

.frame button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.frame button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.frame button:hover span {
  padding-right: 25px;
}

.frame button:hover span:after {
  opacity: 1;
  right: 0;
}
