.Day {
  background-color: #afcecf;
  opacity: 0.2;
  cursor: pointer;
  height: 170px;
}

.nonDay {
  background-color: transparent;
}

.CurrentDay {
  background-color: #009999;
  opacity: 0.4;
  color: white;
}
