.Day {
  background-color: #afcecf;
  cursor: pointer;
  height: 170px;
}

.nonDay {
  background-color: transparent;
}

.CurrentDay {
  background-color: #263f40;
  opacity: 0.3;
  color: #52e896;
}

.workout li {
  font-size: small;
  list-style-type: square;
}
