.Day {
  background-color: #c9a5a5;
  opacity: 0.3;
  cursor: pointer;
  height: 170px;
  color: black;
}

.nonDay {
  background-color: transparent;
}

.CurrentDay {
  background-color: #009999;
  opacity: 0.4;
  color: white;
}

.workout li {
  font-size: small;
  list-style-type: square;
}
