.frame {
  background: url("../../Icons/EmptyWorkoutplanBackground.jpg") no-repeat;
  background-size: 100%;
  height: 90vh;
}

.frame h2 {
  color: whitesmoke;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.frame h3 {
  color: lightsalmon;
  font-family: "Trocchi", serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.frame button {
  border: 3px solid #263f40;
  background-color: lightsalmon;
  margin-top: 30px;
  margin-left: 100px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 250px;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
}

.frame button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.frame button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.frame button:hover span {
  padding-right: 25px;
}

.frame button:hover span:after {
  opacity: 1;
  right: 0;
}
