.Form {
  height: 270px;
  width: 500px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 70px;
  border: 3px solid greenyellow;
  border-radius: 10px;
  padding: 20px;
  display: block;
  text-align: center;
}

.selectedFormItem label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  display: block;
}

.selectedFormItem input {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #4ce600;
  box-shadow: 0 0 1px 1px rgba(51, 153, 0);
  border-radius: 10px;
}
.invalid input {
  background-color: #ffc2b3;
}

.Form button {
  border: 3px solid green;
  background-color: lightgreen;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: center;
  margin-top: 20px;
}

.Form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Form button:hover span {
  padding-right: 25px;
}

.Form button:hover span:after {
  opacity: 1;
  right: 0;
}

.Form input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid green;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 50%;
}
