.Form {
  width: 800px;
  height: 300px;
  border: 2px solid #222222;
  background-color: #263f40;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  padding: 15px 0 0;
  width: 1000px;
}

.Form label {
  font-size: larger;
  margin-bottom: 0.5rem;
  margin-right: 15px;
}

.FormInput {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.FormInput input::placeholder {
  color: transparent;
}

.FormInput input:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.TextInput_label {
  font-size: 1rem;
  color: #9b9b9b;
}

.FormInput:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.TextInput_label:focus {
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.FormInput:required:invalid {
  box-shadow: none;
}

.Form button {
  border: 3px solid #263f40;
  background-color: #11998e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.Form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Form button:hover span {
  padding-right: 25px;
}

.Form button:hover span:after {
  opacity: 1;
  right: 0;
}

.invalid input {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, red, pink);
  border-image-slice: 1;
}
