.Form {
  height: 270px;
  width: 500px;
  background-color: #80b1b3;
  margin: auto;
  margin-top: 70px;
  border: 3px solid #395e60;
  border-radius: 10px;
  padding: 20px;
  display: block;
  text-align: center;
}

.selectedFormItem label {
  font-size: larger;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  display: block;
}

.selectedFormItem input {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #395e60;
  box-shadow: 0 0 1px 1px #395e60;
  border-radius: 10px;
}
.invalid input {
  background-color: #f3d8d8;
}

.Form button {
  border: 3px solid #263f40;
  background-color: #263f40;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  float: center;
  margin-top: 20px;
}

.Form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Form button:hover span {
  padding-right: 25px;
}

.Form button:hover span:after {
  opacity: 1;
  right: 0;
}

.Form input {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #395e60;
  box-shadow: 0 0 7px 2px #395e60;
  border-radius: 10px;
  width: 50%;
}
