.form {
  width: 500px;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  display: block;
  background-color: #80b1b3;
  border-radius: 9px;
  border: 2px solid #395e60;
  padding: 20px;
  text-align: center;
}
.selectedFormItem label {
  font-size: larger;
  margin-right: 5px;
  display: block;
}

.selectedFormItem input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #395e60;
  box-shadow: 0 0 1px 1px #395e60;
  border-radius: 10px;
}

.invalid input {
  background-color: #f3d8d8;
}

.form input,
.form textarea {
  font-family: inherit;
  font-size: inherit;
}

.form button {
  border: 3px solid #263f40;
  background-color: #263f40;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 40%;
  max-height: 75px;
  transition: all 0.5s;
  cursor: pointer;
  float: center;
  margin-top: 20px;
}

.form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.form button:hover span {
  padding-right: 25px;
}

.form button:hover span:after {
  opacity: 1;
  right: 0;
}
