.Frame {
  background: url("../../Icons/SignupFormBackground.jpg") no-repeat;
  background-size: 100% auto;
  height: 88vh;
  display: flex;
  background-color: #263f40;
  margin-top: 50px;
  position: relative;
  padding: 15px 0 0;
  margin: auto;
}

.Form {
  width: 500px;
  margin-left: 100px;
  justify-content: flex-start;
}

.MotivationBox {
  justify-content: flex-end;
  width: 850px;
}

.MotivationBox h1 {
  color: whitesmoke;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.Form button {
  border: 3px solid #263f40;
  background-color: #11998e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
}

.Form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Form button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Form button:hover span {
  padding-right: 25px;
}

.Form button:hover span:after {
  opacity: 1;
  right: 0;
}

.InputField {
  margin-top: 50px;
}

.InputField p {
  color: #f05c79;
}
